{% extends "::base.html.twig" %}
{% block content %}
    <div class="container bs-docs-container">
        <div class="bs-docs-section">
    {% for categ in categories %}
        <div id="callout-navbar-breakpoint" class="bs-callout bs-callout-info" style="background-color: white">
            <h4>{{ categ.name }}</h4>
            <p>
                {% if is_granted('ROLE_MASTER') %}
                    <a  href="{{ path('question_list',{'cid': categ.id}) }}" class="btn btn-primary">Intrebari</a>
                {% endif %}
                <a href="{{ path('test_list',{'cid':'categ'}) }}" class="btn btn-primary">Teste</a>
            </p>
        </div>
    {% endfor %}
        </div>
    </div>
{% endblock %}
