{% extends "base.html.twig" %}

{% block title %}Interests{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <!-- Box Comment -->
            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="user-block">
                        <span class="username"><a href="#">The Hotel Brussels</a></span>
                        <span class="description">Brussels - Centre (3.4 km)</span>
                    </div>
                    <!-- /.user-block -->
                    <div class="box-tools">
                        <button data-widget="collapse" class="btn btn-box-tool" type="button"><i class="fa fa-minus"></i>
                        </button>
                        <button data-widget="remove" class="btn btn-box-tool" type="button"><i class="fa fa-times"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: block;">
                    <img alt="Photo" src="https://q.bstatic.com/images/hotel/840x460/196/19668382.jpg" class="img-responsive pad">

                    <p>Short description</p>
                    <button class="btn btn-default btn-xs" type="button"><i class="fa fa-share"></i> Share</button>
                    <button class="btn btn-primary btn-xs" type="button"><i class="fa fa-bars"></i> Details</button>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}